SERVER_ID="bootclasspath_aa"
SERVER_NAME="Bootclasspath AA Server"
SERVER_OWNER="root"

LOGIN_ENABLED="true"
LOGIN_DIR="/root/project/auth"
LOGIN_LOOP="AuthServer_loop.sh"
LOGIN_MATCH="AuthServer"
LOGIN_LOG="log/stdout.log"
LOGIN_PORT_HINT="2106"
LOGIN_READY_MATCH=""

AA_ENABLED="true"
AA_DIR="/root/project/Server"
AA_START="startscreen.sh"
AA_LOOP="start.sh"
AA_BINARY="server"
AA_LOG="log.txt"
AA_PORT_HINT="11000"
AA_READY_MATCH="Listening to players on address"
AA_SCREEN_NAME="projectaa"

GAME_ENABLED="true"
GAME_DIR="/root/project/game"
GAME_LOOP="GameServer_loop_AA.sh"
GAME_MATCH="GameServer"
GAME_LOG="stdout.log"
GAME_PORT_HINT="7777"
GAME_READY_MATCH=""
